{%extends "base.html"%}<!--Recebe as inforações do cabeçalho-->
{%block page%}<!--conteudo unico da pagina-->
<form action="{{ url_for('admin') }}" id="buttons" method="post"><!--Formulario que recebe os dados do novo jogo-->
    <label for="name">Name</label><!--Texto pedindo o nome do novo jogo-->
    <input type="text" id="name" name="name"><!--Recebe o nome do novo jogo-->
    <br>
    <label for="genre">Genre</label><!--Texto pedindo o genero do novo jogo-->
    <input type="text" id="genre" name="genre"><!--Recebe o genero do novo jogo-->
    <br>
    <label for="plataform">Plataform</label><!--Texto pedindo a plataforma do novo jogo-->
    <input type="text" id="plataform" name="plataform"><!--Recebe a plataforma do novo jogo-->
    <br>
    <label for="producer">Producer</label><!--Texto pedindo a produtora do novo jogo-->
    <input type="text" id="producer" name="producer"><!--Recebe a produtora do novo jogo-->
    <br>
    <label for="date">Release date</label><!--Texto pedindo a data de lançamento do novo jogo-->
    <input type="text" id="date" name="date"><!--Recebe a data lançamento do novo jogo-->
    <br>
    <button id="add" name="add">Add game</button><!--Botão que envia o formulario-->
</form>
{%endblock%}<!--Fim do conteudo unico da pagina-->